@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$white: #ffffff;
$blue: #5265E1;
$dark-blue: #242A45;
$red: #fa5959;
$dark-grey: #535260;
$text-color: #a7a7ac;
$transition: 0.4s;
$breakpoint-md: 1024px;
$breakpoint-ms: 800px;
$breakpoint-s: 600px;

@mixin nav ($text-color: #535260){
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
    text-align: center;

    a {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 0.8rem;
        text-decoration: none;
        transition: $transition;
        color: $text-color;
    }
}

@mixin button ($bg-color:$blue, $text-color: $white, $padding: 0.9rem 1.6rem) {
    display: block;
    padding: $padding;
    font-size: 0.9rem;
    transition: $transition;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
    font-weight: 500;
    background: $bg-color;
    color: $text-color;
    border: 2px solid transparent;
}