@use 'settings' as *;
@use 'keyframes';
@use 'components';
@use 'tabs';

* {
    box-sizing: border-box;
}

*:focus-visible {
    outline: 2px solid $red;
    outline-offset: 2px;
}

body {
    margin: 0;
    padding: 0;
    background: $white;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3 {
    color: $dark-blue;
    font-weight: 500;
}

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    margin-bottom: 1.7rem;
}

h2 {
    text-align: center;
    font-size: clamp(1.6rem, 3vw, 2rem);
    margin: 1.5rem auto;
}

h3 {
    font-size: 1.2rem;
    margin: 2rem 0 0.8rem 0;
}

p {
    color: $text-color;
    font-size: clamp(1rem, 2vw, 1.15rem);
    line-height: 1.5;
}

.social-media {
    display: flex;
    gap: 2.5rem;

    svg {
        color: $white;
        transition: $transition;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: $red;
            }
        }

        @media screen and (max-width: $breakpoint-ms) {
            margin-top: 1rem;

        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width;
    padding: 3rem 0 2rem 0;
    margin: auto;

    .menu-toggle,
    .menu-label,
    .logo-menu,
    .social-media {
        display: none;
    }

    nav ul {
        @include nav;

        .red-btn {
            font-weight: 400;
        }
    }

    @media screen and (max-width: $breakpoint-ms) {

        .menu,
        #close-icon {
            display: none;
        }

        .menu-label {
            display: block;
            position: relative;
            z-index: 2;
        }

        .menu-toggle {
            display: block;
            position: absolute;
            opacity: 0;
            z-index: 3;
        }

        .menu-toggle:checked~label #menu-icon {
            display: none;
        }

        .menu-toggle:checked~label #close-icon {
            display: block;
        }

        nav:has(.menu-toggle:checked) {
            position: fixed;
            z-index: 2;
            background: rgb(36, 42, 69, 0.95);
            inset: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 3rem 10vw;

            #menu-icon {
                display: none;
            }

            #close-icon {
                display: block;
            }

            .logo-menu {
                display: block;
            }

            .social-media {
                display: flex;
                margin: auto;
            }

            .menu {
                display: block;
                width: 100%;
                margin: 2rem 0;

                li {
                    border-top: 0.8px solid rgba(255, 255, 255, 0.25);
                    padding: 1.5rem 0;
                }

                a {
                    color: $white;
                    font-size: 1.1rem;
                    display: block;
                }

                .red-btn {
                    background-color: transparent;
                    border: 3px solid $white;
                    padding: 1rem;
                    border-radius: 8px;
                }

            }
        }
    }
}

footer {
    background-color: $dark-blue;

    .footer-container {
        padding: 2rem;
        width: $width;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.5rem;

        @media screen and (max-width: $breakpoint-ms) {
            padding: 3rem 2rem;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }
    }

    nav {
        margin-right: auto;

        @media screen and (max-width: $breakpoint-ms) {
            margin: 0;
        }

        ul {
            @include nav($white);

            @media screen and (max-width: $breakpoint-ms) {
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}

section {
    @include section;
    margin: auto;
}

.full-width {
    @include section(100vw, 4.5rem 0);

    @media screen and (max-width: $breakpoint-ms) {
        p {
            width: $width;
        }
    }
}

.decorated {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    img {
        position: relative;
        z-index: 1;
    }

    @media screen and (max-width: $breakpoint-ms) {
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

.hero-section {
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        right: 0;
        top: 35%;
        width: 38%;
        aspect-ratio: 16/10;
        background: $blue;
        border-top-left-radius: 12rem;
        border-bottom-left-radius: 12rem;
        z-index: 0;

        @media screen and (max-width: $breakpoint-ms) {
            top: 17%;
            width: 82%;
        }
    }

    .side-text {
        @include side-text;
    }

    img {
        padding: 0 2vw;
        width: 50%;

        @media screen and (max-width: $breakpoint-ms) {
            width: 100%;
            padding: 0 5vw;
        }
    }

    .cta-area {
        margin-top: 2rem;
        display: flex;
        gap: 1.2rem;

        @media screen and (max-width: $breakpoint-ms) {
            justify-content: center;
        }
    }
}

.newsletter {
    @include section(100vw, 4.5rem 0, 6rem 0 0 0);
    background: $blue;

    span {
        display: block;
        text-align: center;
        letter-spacing: 5px;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $white;
        font-weight: 500;
    }

    h2 {
        color: $white;
        max-width: 400px;
        margin: 2.5rem auto;
    }
}