@use 'settings' as *;

* {
    box-sizing: border-box;
}

*:focus-visible {
    outline: 2px solid $red;
    outline-offset: 2px;
}

body {
    margin: 0;
    padding: 0;
    background: $white;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3 {
    color: $dark-blue;
    font-weight: 500;
}

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    margin-bottom: 1.7rem;
}

h2 {
    text-align: center;
    font-size: clamp(1.6rem, 3vw, 2rem);
    margin: 1.5rem auto;
}

h3 {
    font-size: 1.2rem;
    margin: 2rem 0 0.8rem 0;
}

p {
    color: $text-color;
    font-size: clamp(1rem, 2vw, 1.15rem);
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 3rem 0 2rem 0;
    margin: auto;
     nav .social-media {display: none;}
}

.menu-toggle,
.menu-label,
.logo-menu {
    display: none;
}

header nav ul {
    @include nav;
}
footer nav ul {
    @include nav($white);
}

button {
    @include button
}

.red-btn {
    @include button($red, $white, $padding: 0.75rem 2.1rem)
}

.grey-btn {
    @include button(#f7f7f7, #535260)
}
