@use 'settings' as *;

button {
    @include button;
}

.red-btn {
    @include button($red, $white, $padding: 0.75rem 2rem);
}

.grey-btn {
    @include button(#f7f7f7, #535260);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: #535260;
            color: #535260;
        }
    }
}

.centered-btn {
    margin: auto;
    width: auto;

    @media screen and (max-width: $breakpoint-s) {
        padding: 0.9rem 1.4rem;
    }
}

form {
    @include form;
}

.txt-input-container {
    @include email-input-validation;
}

input[type="email"] {
    @include form-field;
}