@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$white: #ffffff;
$blue: #5265E1;
$dark-blue: #242A45;
$red: #fa5959;
$dark-grey: #535260;
$text-color: #a7a7ac;
$separators: #d9d9d9;
$transition: 0.4s;
$breakpoint-md: 1024px;
$breakpoint-ms: 800px;
$breakpoint-s: 600px;
$width: 80vw;

@mixin section ($width: $width, $padding: 3rem 0, $margin: auto) {
    width: $width;
    padding: $padding;
    margin: $margin;

    p {
        max-width: 40vw;
        text-align: center;
        margin: auto;

        @media screen and (max-width: $breakpoint-md) {
            max-width: 80vw;
        }
    }
}

@mixin nav ($txt: $dark-grey) {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
    text-align: center;

    a {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 0.8rem;
        text-decoration: none;
        transition: $transition;
        color: $txt;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: $red;
            }
        }
    }
}

@mixin button ($bg: $blue, $txt: $white, $padding: 0.9rem 1.6rem) {
    display: block;
    padding: $padding;
    font-size: 0.9rem;
    transition: $transition;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
    font-weight: 500;
    background: $bg;
    color: $txt;
    border: 2px solid transparent;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: $white;
            color: $bg;
            border: 2px solid $bg;
        }
    }

    @media screen and (max-width: $breakpoint-s) {
        padding: 0.9rem 0.8rem;
        font-weight: 600;
        width: 100%;
    }
}

@mixin form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    max-width: $width;
    margin: auto;

    @media screen and (max-width: $breakpoint-s) {
        flex-direction: column;
    }
}

@mixin email-input-validation {
    position: relative;
    border-radius: 5px;

    .error-icon {
        display: none;
        position: absolute;
        right: 10px;
        top: 15px;
    }

    .error-msg {
        display: none;
    }

    &:has(input[type="email"]:user-invalid) {
        background: $red;

        .error-icon {
            display: block;
        }

        .error-msg {
            display: block;
            font-size: 0.7rem;
            font-style: italic;
            text-align: left;
            padding: 0.2rem 0.5rem;
            color: $white;
        }
    }

    @media screen and (max-width: $breakpoint-s) {
        width: 100%;
    }
}

@mixin form-field {
    display: block;
    padding: 0.9rem 1.6rem;
    border-radius: 5px;
    border: 0;
    width: 300px;
    font-size: 0.9rem;

    &:user-invalid {
        outline: none;
        border: 2px solid $red;
    }

    @media screen and (max-width: $breakpoint-s) {
        width: 100%;
    }
}

@mixin side-text ($padding: 0 0 0 10vw) {
    width: 50%;
    padding: $padding;

    p {
        text-align: left;
        max-width: unset;
    }

    h2 {
        text-align: left;
    }

    @media screen and (max-width: $breakpoint-ms) {
        padding: 0;
        width: $width;

        p,
        h1,
        h2 {
            text-align: center;
        }
    }
}

@mixin card {
    flex: 0 0 280px;
    padding: 1.5rem 0;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.2rem;
    box-shadow: 1px 4px 10px rgba(60, 82, 178, 0.2);

    img:not(.separator) {
        margin-top: auto;
    }

    p {
        margin-top: 0;
        font-size: 0.9rem;
    }

    .separator {
        width: 100%;
        margin: auto 0;
    }

    button {
        width: 83%;
    }
}