@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --white: #ffffff;
    --blue: #5265E1;
    --dark-blue: #242A45;
    --red: #fa5959;
    --dark-grey: #535260;
    --text-color: #a7a7ac;
    --separators: #d9d9d9;
    --grey-button: #f7f7f7;
    --transition: 0.4s;
    --button-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
}

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    background: var(--white);
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3 {
    color: var(--dark-blue);
    font-weight: 500;
}

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    margin-bottom: 1.7rem;
}

h2 {
    text-align: center;
    font-size: clamp(1.6rem, 3vw, 2rem);
    margin: 1.5rem auto;
}

h3 {
    font-size: 1.2rem;
    margin: 2rem 0 0.8rem 0;
}

p {
    color: var(--text-color);
    font-size: clamp(1rem, 2vw, 1.15rem);
    line-height: 1.5;
}

@media screen and (max-width: 800px) {

    h1,
    p {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {

    p {
        line-height: 1.6;
    }

}