@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes labelBorder {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: var(--desired-width);
  }
}
button {
  display: block;
  padding: 0.9rem 1.6rem;
  font-size: 0.9rem;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
  font-weight: 500;
  background: #5265E1;
  color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  button:hover {
    background: #ffffff;
    color: #5265E1;
    border: 2px solid #5265E1;
  }
}
@media screen and (max-width: 600px) {
  button {
    padding: 0.9rem 0.8rem;
    font-weight: 600;
    width: 100%;
  }
}

.red-btn {
  display: block;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
  font-weight: 500;
  background: #fa5959;
  color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .red-btn:hover {
    background: #ffffff;
    color: #fa5959;
    border: 2px solid #fa5959;
  }
}
@media screen and (max-width: 600px) {
  .red-btn {
    padding: 0.9rem 0.8rem;
    font-weight: 600;
    width: 100%;
  }
}

.grey-btn {
  display: block;
  padding: 0.9rem 1.6rem;
  font-size: 0.9rem;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
  font-weight: 500;
  background: #f7f7f7;
  color: #535260;
  border: 2px solid transparent;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .grey-btn:hover {
    background: #ffffff;
    color: #f7f7f7;
    border: 2px solid #f7f7f7;
  }
}
@media screen and (max-width: 600px) {
  .grey-btn {
    padding: 0.9rem 0.8rem;
    font-weight: 600;
    width: 100%;
  }
}
@media (hover: hover) and (pointer: fine) {
  .grey-btn:hover {
    border-color: #535260;
    color: #535260;
  }
}

.centered-btn {
  margin: auto;
  width: auto;
}
@media screen and (max-width: 600px) {
  .centered-btn {
    padding: 0.9rem 1.4rem;
  }
}

form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  max-width: 80vw;
  margin: auto;
}
@media screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }
}

.txt-input-container {
  position: relative;
  border-radius: 5px;
}
.txt-input-container .error-icon {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
}
.txt-input-container .error-msg {
  display: none;
}
.txt-input-container:has(input[type=email]:user-invalid) {
  background: #fa5959;
}
.txt-input-container:has(input[type=email]:user-invalid) .error-icon {
  display: block;
}
.txt-input-container:has(input[type=email]:user-invalid) .error-msg {
  display: block;
  font-size: 0.7rem;
  font-style: italic;
  text-align: left;
  padding: 0.2rem 0.5rem;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .txt-input-container {
    width: 100%;
  }
}

input[type=email] {
  display: block;
  padding: 0.9rem 1.6rem;
  border-radius: 5px;
  border: 0;
  width: 300px;
  font-size: 0.9rem;
}
input[type=email]:user-invalid {
  outline: none;
  border: 2px solid #fa5959;
}
@media screen and (max-width: 600px) {
  input[type=email] {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid #fa5959;
  outline-offset: 2px;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3 {
  color: #242A45;
  font-weight: 500;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
  margin-bottom: 1.7rem;
}

h2 {
  text-align: center;
  font-size: clamp(1.6rem, 3vw, 2rem);
  margin: 1.5rem auto;
}

h3 {
  font-size: 1.2rem;
  margin: 2rem 0 0.8rem 0;
}

p {
  color: #a7a7ac;
  font-size: clamp(1rem, 2vw, 1.15rem);
  line-height: 1.5;
}

.social-media {
  display: flex;
  gap: 2.5rem;
}
.social-media svg {
  color: #ffffff;
  transition: 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  .social-media svg:hover {
    color: #fa5959;
  }
}
@media screen and (max-width: 800px) {
  .social-media svg {
    margin-top: 1rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding: 3rem 0 2rem 0;
  margin: auto;
}
header #menu-toggle,
header .menu-label,
header .logo-menu,
header .social-media {
  display: none;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
header nav ul a {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.4s;
  color: #535260;
}
@media (hover: hover) and (pointer: fine) {
  header nav ul a:hover {
    color: #fa5959;
  }
}
header nav ul .red-btn {
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  header .menu,
  header #close-icon {
    display: none;
  }
  header .menu-label {
    display: block;
    position: relative;
    z-index: 2;
  }
  header #menu-toggle {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 3;
  }
  header #menu-toggle:checked ~ label #menu-icon {
    display: none;
  }
  header #menu-toggle:checked ~ label #close-icon {
    display: block;
  }
  header nav:has(#menu-toggle:checked) {
    position: fixed;
    z-index: 2;
    background: rgba(36, 42, 69, 0.95);
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem 10vw;
  }
  header nav:has(#menu-toggle:checked) #menu-icon {
    display: none;
  }
  header nav:has(#menu-toggle:checked) #close-icon {
    display: block;
  }
  header nav:has(#menu-toggle:checked) .logo-menu {
    display: block;
  }
  header nav:has(#menu-toggle:checked) .social-media {
    display: flex;
    margin: auto;
  }
  header nav:has(#menu-toggle:checked) .menu {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }
  header nav:has(#menu-toggle:checked) .menu li {
    border-top: 0.8px solid rgba(255, 255, 255, 0.25);
    padding: 1.5rem 0;
  }
  header nav:has(#menu-toggle:checked) .menu a {
    color: #ffffff;
    font-size: 1.1rem;
    display: block;
  }
  header nav:has(#menu-toggle:checked) .menu .red-btn {
    background-color: transparent;
    border: 3px solid #ffffff;
    padding: 1rem;
    border-radius: 8px;
  }
}

footer {
  background-color: #242A45;
}
footer .footer-container {
  padding: 2rem 0;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
@media screen and (max-width: 800px) {
  footer .footer-container {
    padding: 3rem 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
footer nav {
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  footer nav {
    margin: 0;
  }
}
footer nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer nav ul a {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.4s;
  color: #ffffff;
}
@media (hover: hover) and (pointer: fine) {
  footer nav ul a:hover {
    color: #fa5959;
  }
}
@media screen and (max-width: 800px) {
  footer nav ul {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

section {
  width: 80vw;
  padding: 3rem 0;
  margin: auto;
}
section p {
  max-width: 40vw;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  section p {
    max-width: 80vw;
  }
}
section {
  margin: auto;
}

.full-width {
  width: 100vw;
  padding: 4.5rem 0;
  margin: auto;
}
.full-width p {
  max-width: 40vw;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .full-width p {
    max-width: 80vw;
  }
}

.decorated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.decorated img {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .decorated {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.hero-section {
  position: relative;
}
.hero-section::before {
  content: " ";
  position: absolute;
  right: 0;
  top: 35%;
  width: 38%;
  aspect-ratio: 16/10;
  background: #5265E1;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
  z-index: 0;
}
@media screen and (max-width: 800px) {
  .hero-section::before {
    top: 17%;
    width: 82%;
  }
}
.hero-section .side-text {
  width: 45%;
  padding: 0 0 0 10vw;
}
.hero-section .side-text p {
  text-align: left;
  max-width: unset;
}
.hero-section .side-text h2 {
  text-align: left;
}
@media screen and (max-width: 800px) {
  .hero-section .side-text {
    padding: 0;
    width: 80vw;
  }
  .hero-section .side-text p,
  .hero-section .side-text h1,
  .hero-section .side-text h2 {
    text-align: center;
  }
}
.hero-section img {
  padding: 0 2vw;
  width: 55%;
}
@media screen and (max-width: 800px) {
  .hero-section img {
    width: 100%;
    padding: 0 5vw;
  }
}
.hero-section .cta-area {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
}
@media screen and (max-width: 800px) {
  .hero-section .cta-area {
    justify-content: center;
  }
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}
.tab-container input[name=tab-features] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.tab-container label {
  margin-bottom: 4rem;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid #d9d9d9;
  display: block;
  color: #848486;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 0;
  transition: 1.2s;
}
@media screen and (max-width: 800px) {
  .tab-container label {
    margin: 0;
    width: 80vw;
  }
  .tab-container label:first-of-type {
    border-top: 1px solid #d9d9d9;
  }
  .tab-container label:last-of-type {
    margin-bottom: 5rem;
  }
}
.tab-container .tab-content {
  flex-direction: row-reverse;
  display: none;
  position: relative;
}
.tab-container .tab-content ::before {
  content: " ";
  position: absolute;
  left: -10vw;
  top: 20%;
  width: 59%;
  aspect-ratio: 15/7;
  background: #5265E1;
  border-bottom-right-radius: 12rem;
  border-top-right-radius: 12rem;
  z-index: 0;
}
@media screen and (max-width: 800px) {
  .tab-container .tab-content ::before {
    top: 8%;
    left: 0;
    width: 82%;
    aspect-ratio: 16/10;
  }
}
.tab-container .tab-content .side-text {
  width: 45%;
  padding: 0 10vw 0 3vw;
}
.tab-container .tab-content .side-text p {
  text-align: left;
  max-width: unset;
}
.tab-container .tab-content .side-text h2 {
  text-align: left;
}
@media screen and (max-width: 800px) {
  .tab-container .tab-content .side-text {
    padding: 0;
    width: 80vw;
  }
  .tab-container .tab-content .side-text p,
  .tab-container .tab-content .side-text h1,
  .tab-container .tab-content .side-text h2 {
    text-align: center;
  }
}
.tab-container .tab-content .side-text .tab-btn {
  margin: 2rem 0;
  width: auto;
}
@media screen and (max-width: 800px) {
  .tab-container .tab-content .side-text .tab-btn {
    display: none;
  }
}
.tab-container .tab-content .tab-img {
  padding-left: 10vw;
  width: 55%;
}
.tab-container .tab-content .tab-img img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 7/5;
  object-position: right top;
}
@media screen and (max-width: 800px) {
  .tab-container .tab-content .tab-img img {
    padding: 0;
    width: 80vw;
    object-position: center top;
  }
}
@media screen and (max-width: 800px) {
  .tab-container .tab-content .tab-img {
    width: 100vw;
  }
}
@media screen and (max-width: 800px) {
  .tab-container .tab-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.tab-container #tab1:checked ~ #label1,
.tab-container #tab2:checked ~ #label2,
.tab-container #tab3:checked ~ #label3 {
  color: #242A45;
}
.tab-container #tab1:checked ~ #label1::after,
.tab-container #tab2:checked ~ #label2::after,
.tab-container #tab3:checked ~ #label3::after {
  content: " ";
  height: 3px;
  --desired-width: 100%;
  background: #fa5959;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: labelBorder 0.8s forwards;
}
@media screen and (max-width: 800px) {
  .tab-container #tab1:checked ~ #label1::after,
  .tab-container #tab2:checked ~ #label2::after,
  .tab-container #tab3:checked ~ #label3::after {
    --desired-width: 45%;
    left: 50%;
    height: 4px;
    transform: translateX(-50%);
  }
}
.tab-container #tab1:checked ~ #organize-bm,
.tab-container #tab2:checked ~ #intelligent-search,
.tab-container #tab3:checked ~ #share-bm {
  display: flex;
}
.tab-container #tab1:checked ~ #organize-bm img,
.tab-container #tab1:checked ~ #organize-bm .side-text,
.tab-container #tab2:checked ~ #intelligent-search img,
.tab-container #tab2:checked ~ #intelligent-search .side-text,
.tab-container #tab3:checked ~ #share-bm img,
.tab-container #tab3:checked ~ #share-bm .side-text {
  animation: fadeIn 1.6s;
}

.extension-container {
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
@media screen and (max-width: 1024px) {
  .extension-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .extension-container {
    gap: 3.5rem;
  }
}

.extension-card {
  flex: 0 0 280px;
  padding: 1.5rem 0;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  box-shadow: 1px 4px 10px rgba(60, 82, 178, 0.2);
}
.extension-card img:not(.separator) {
  margin-top: auto;
}
.extension-card p {
  margin-top: 0;
  font-size: 0.9rem;
}
.extension-card .separator {
  width: 100%;
  margin: auto 0;
}
.extension-card button {
  width: 83%;
}
.extension-card:nth-child(2) {
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .extension-card:nth-child(2) {
    margin: 0;
  }
}
.extension-card:nth-child(3) {
  margin-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .extension-card:nth-child(3) {
    margin: 0;
  }
}

details {
  max-width: 550px;
  margin: auto;
  border-bottom: 1px solid #d9d9d9;
  padding: 1.35rem 0;
}
details summary {
  list-style: none;
  font-size: clamp(1rem, 2vw, 1.15rem);
  color: #242A45;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
details summary svg {
  color: #5265E1;
  transition: 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  details summary:hover {
    color: #fa5959;
  }
}
details p {
  font-size: clamp(0.9rem, 2vw, 1rem);
  text-align: left;
  padding: 2.3rem 0 0 0;
  line-height: 2.3;
  color: #848486;
  transition: 0.4s;
}
details:first-of-type {
  margin-top: 3.5rem;
  border-top: 1px solid #d9d9d9;
}
@media screen and (max-width: 600px) {
  details:first-of-type {
    border-top: 0;
  }
}
details:last-of-type {
  margin-bottom: 3.5rem;
}
details[open] p {
  animation: fadeIn 0.6s forwards;
}
details[open] svg {
  transform: rotate(180deg);
  color: #fa5959;
}

#newsletter {
  width: 100vw;
  padding: 4.5rem 0;
  margin: 6rem 0 0 0;
}
#newsletter p {
  max-width: 40vw;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  #newsletter p {
    max-width: 80vw;
  }
}
#newsletter {
  background: #5265E1;
}
#newsletter span {
  display: block;
  text-align: center;
  letter-spacing: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}
#newsletter h2 {
  color: #ffffff;
  max-width: 30vw;
  margin: 2.5rem auto;
}
@media screen and (max-width: 1024px) {
  #newsletter h2 {
    max-width: 80vw;
  }
}
@media screen and (max-width: 800px) {
  #newsletter h2 {
    margin: 1rem auto 2rem auto;
  }
}

/*# sourceMappingURL=styles.css.map */
